<!-- start custom head snippets -->
<!-- Dodajte ovo u _includes/head/custom.html -->
<meta property="og:title" content="Žena Znači Revolucija">
<meta property="og:description" content="Neformalna feministička inicijativa posvećena stvaranju prostora u kojem se govori o temama o kojima se ne govori dovoljno.">
<meta property="og:image" content="{{ site.url }}/assets/images/og-image.png">
<meta property="og:url" content="{{ site.url }}">

<!-- insert favicons. use https://realfavicongenerator.net/ -->

<!-- end custom head snippets -->
<link rel="icon" href="{{ '/favicon.ico' | relative_url }}" type="image/x-icon">

<!-- Google Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400;1,700&display=swap" rel="stylesheet">
