/* Inline critical CSS */
body {
    margin: 0;
    padding: 0;
}
      
// Primenjuje se SAMO na grid-gallery stranicama
.grid-gallery-active {
  .masthead,
  .page__footer-follow,
  .sidebar {
    display: none !important;
  }
}
