// HAMBURGER MENU
.hamburger-menu {
  background: none;
  border: none;
  cursor: pointer;
  padding: 15px;
  z-index: 1001;
  position: relative;
  width: 50px;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  
  span {
    display: block;
    height: 3px;
    background-color: #ca5e91;
    transition: all 0.3s ease;
    border-radius: 2px;
  }
  
  span:nth-child(1) { width: 30px; }
  span:nth-child(2) { width: 20px; }
  span:nth-child(3) { width: 30px; }
  
  &.active span {
    width: 30px !important;
  }
  
  &.active span:nth-child(1) {
    transform: rotate(45deg) translate(8px, 8px);
  }
  
  &.active span:nth-child(2) {
    opacity: 0;
    transform: translateX(20px);
  }
  
  &.active span:nth-child(3) {
    transform: rotate(-45deg) translate(8px, -8px);
  }
  
  &:hover span {
    background-color: #fff;
  }
}
